utils/__pycache__/
__pycache__/
SAMPLE_10_DATASET_GASTRIC_256/
build/
lbp_module/__pycache__/
lbp_module/utils/__pycache__/
lbp_module/utils/_histogram.c
lbp_module/utils/_texture.c
lbp_module/utils/_texture.cpython-37m-x86_64-linux-gnu.so
lbp_module/utils/_texture_clbp.c
lbp_module/utils/_texture_clbp.cpython-37m-x86_64-linux-gnu.so
lbp_module/utils/_texture_elbp.c
lbp_module/utils/_texture_elbp.cpython-37m-x86_64-linux-gnu.so
lbp_module/utils/_texture_hlbp.c
lbp_module/utils/_texture_hlbp.cpython-37m-x86_64-linux-gnu.so
lbp_module/utils/_texture_ilbp.c
lbp_module/utils/_texture_ilbp.cpython-37m-x86_64-linux-gnu.so
lbp_module/utils/interpolation.c
lbp_module/utils/interpolation.cpython-37m-x86_64-linux-gnu.so
teste_results/
